@import '~bootstrap/dist/css/bootstrap.min.css';
* {
  padding: 0px;
  margin: 0px;
}
.containerSideNumber {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100%;
  z-index: 10;
}
.sideLine {
  width: 4px;
  height: 48%;
  background-color: rgb(128, 128, 128);
}
.miniSideLine {
  width: 4px;
  height: 50vh;
  background-color: rgb(128, 128, 128);
}
.sideNumber {
  height: 4%;
  margin: 0px;
  padding: 0px;
  color: rgb(128, 128, 128);
}

.buttonPurple {
  border: 0px;
  background-color: rgb(97, 1, 200);
  padding: 2px 15px;
}

/* container image */
#containerTextPage1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.bigText {
  background-color: white;
  font-size: 100px;
  margin: 0px;
  padding-right: 20px;
}
.containerImageBuilding {
  position: absolute;
  height: 100vh;
}
#containerBackgroundImageBuilding {
  background-image: url('../src_image/gedung.jpg');
  background-size: cover;
  height: 100vh;
  padding: 0px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: -1;
}
.triangle {
  width: 0;
  height: 0;
  margin: 0;
  border-right: 70px solid transparent;
  border-bottom: 100px solid white; /* Ganti warna dengan yang Anda inginkan */
}
.containerUtama {
  min-height: 100vh;
}
.fontPurple {
  color: rgb(97, 1, 200);
}
.containerPage3 {
  background: rgb(137, 25, 247);
  background: linear-gradient(90deg, rgba(137, 25, 247, 1) 0%, rgba(97, 1, 200, 1) 10%);
}
#containerImagePage3 {
  background-image: url('https://images.unsplash.com/photo-1521737711867-e3b97375f902?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fG9mZmljZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  height: 100vh;
}
.textPage3 {
  background-color: rgb(97, 1, 200);
  padding-right: 10px;
  margin: 0px;
}
#containerImageMiniPage {
  z-index: -1;
  background-image: url('https://img.freepik.com/free-vector/white-background-with-zigzag-pattern-design_1017-33197.jpg?w=900&t=st=1693269506~exp=1693270106~hmac=0cb4f3368c11ad62ca2bc7b24a125f92bc376029c107df43f00c627b42936f7d');
  background-size: cover;
  height: 50vh;
}
.containerImagePage6 {
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .textResponsiveWhite {
    color: white;
  }
  .bigText {
    font-size: xx-large;
  }
  #inputName,
  #inputEmail {
    width: 45%;
  }
  .containerSideNumber {
    display: none;
  }
}
